<div class="jumbotron"> 
</div>  
<div class="container panel panel-default">  		
	<h1>New Device</h1>
	<div class="row">
		<div class="col-sm-3">
			<h2>Add Description</h2>
			
			<label for="address">Address <small>(required)</small></label>
			<input ng-model="device.address" type="text" id="address" name="address" placeholder="*Address" class="form-control" maxlength="32" readonly>
			<p>

			<label for="title">Title <small>(required)</small></label>
			<input ng-model="device.title" type="text" id="title" name="title" placeholder="*Title" class="form-control" maxlength="32">
			<p>
			
			<label for="model">Model <small>(required)</small></label>
			<input ng-model="device.model" type="text" id="model" name="model" placeholder="*Model" class="form-control" maxlength="32">
			<p>
			
			<label for="description">Description <small>(required)</small></label>
			<input ng-model="device.description" type="text" id="description" name="description" placeholder="*Description" class="form-control" maxlength="32">
			<p>

			<input ng-model="device.isLocked" type="checkbox" id="isLocked" name="isLocked" value="isLocked" checked class="form-control"> Locked
			<p>	
		
		</div>		
		<div class="col-sm-1">
		</div>
		<div class="col-sm-8">
			<h2>Grant Access To</h2>
			<div class="table-responsive">
              <table class="table">
                <thead>
                  <td><strong>Name</strong></td>
                  <td><strong>Start Date</strong></td>
                  <td><strong>End Date</strong></td>
                  <td><strong></strong></td>
                </thead>
                <tbody>
                  <tr ng-repeat="grant in device.permissions">
                    <td>{{grant.name}}</td>
                    <td>{{grant.startDate}}</td>
                    <td>{{grant.endDate}}</td>
                    <td><button class="{{grant.grant ? 'btn btn-warning btn-block' : 'btn btn-primary btn-block'}}" ng-click="grantToUser($index)" role="button">{{grant.grant ? "Revoke" : "Grant"}}</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-success pull-right" ng-click="register()" role="button">Register</button>
        </div>
	</div>
</div>   
